---
- hosts: interns
  user: webmaster
  tasks:
    - name: copy upgrade-opac.sh
      copy: src=upgrade-opac.sh dest=~/upgrade-opac.sh
    
    - name: upgrade opac
      shell: bash upgrade-opac.sh

- hosts: minimals
  user: webmaster
  tasks:
    - name: copy upgrade-opac-minimal.sh
      copy: src=upgrade-opac-minimal.sh dest=~/upgrade-opac-minimal.sh
    
    - name: upgrade opac minimal
      shell: bash upgrade-opac-minimal.sh

- hosts: externs
  user: root
  tasks:
    - name: upgrade externs
      shell: bash /root/upgrade-opac.sh


- hosts: externs_afi_with_key
  user: afi
  tasks:
    - name: afi with key
      shell: bash upgrade-opac.sh

- hosts: externs_webmaster_with_key
  user: webmaster
  tasks:
    - name: webmaster with key
      shell: bash upgrade-opac.sh


- hosts: externs_exploit_with_key
  user: exploit
  tasks:
    - name: exploit with key
      shell: bash upgrade-opac.sh

- hosts: online
  tasks:
    - name: online
      shell: bash ~/www/batch/upgrade-opac.sh

